# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

## Node things
node_modules
jspm_packages
dist
dist-ssr
*.local
lib-cov
coverage
build/Release
.npm
.node_repl_history

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
.devnotes
CLAUDE.md
